ci:
  providers:
    - circleci
  image: circleci/python:3.6.4

providers:
  pypi:
    libraries:
      - twine==1.11.0

services:
  pypi:
    provider: pypi
    service_type: pypi

    config:
      steps:
        - type: setup_py
          args:
            command: sdist
        - type: load_repository_config
        - type: generate_pypirc
        - type: upload
